/* variables */

:root {
    --header: rgb(255, 255, 255);
    --header_letras: #2c5c97;
    --header_letras_shadow: #013a3a;
    --header_letras_hover: #006464;
    --header_letras_active: #005252;
    --nav: #2c5c97;
    --nav_letras: #ffffff;
    --article: #1b5eca00;
    --footer: #ffffff;
    --footer_letras: #2c5c97;
    /* --body: rgba(0, 42, 97, 0.979); */
    --body: rgba(255, 255, 255, 0.979);
    --section: #ffffff;
    --section_letras: #2c5c97;
}

* {
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
    box-sizing: content-box;
}

html {
    font-size: 2vh;
}


/*Estructura principal*/

header {
    height: 96vh;
    margin: 0.5vh;
    padding: 1vh;
    background-color: var(--header);
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--header_letras);
    border: 3px solid var(--header_letras);
    /* box-shadow: var(--header_letras) 200px 200px 200px; */
    background: radial-gradient(#ffffff, #acc8e9, var(--header_letras));
}

header a {
    text-decoration: none;
    color: var(--header_letras)
}

nav {
    height: 10vh;
    margin: 0.5vh;
    padding: 1vh;
    background-color: var(--nav);
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    list-style: none
}

nav a {
    text-decoration: none;
    color: var(--nav_letras)
}

.contenedor {
    min-height: 100vh;
}


/*
footer {
     min-height: 10vh;
    margin: 0.5vh;
    padding: 1vh; 
}*/

#footerS {
    background-color: var(--footer);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: var(--footer);
    color: var(--footer_letras);
    border: 3px solid var(--footer_letras);
}

#footerS a {
    text-decoration: none;
    color: var(--footer_letras)
}


/*contenedor*/


/* aside { no tenemos aside
    float: left;
    height: 98%;
    width: 20vh;
    margin: 0.5vh;
    padding: 1vh;
    padding-top: 0.5vh;
    background-color: skyblue;
} */

section {
    /* height: 100%;
    overflow: hidden; */
    margin: 0.5vh;
    padding: 1vh;
    min-height: 83.5vh;
    background-color: var(--section);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* display: flex;
    flex-direction: column; */
    color: var(--section_letras);
    border: 3px solid var(--section_letras);
}

article {
    margin: 0.5vh;
    padding: 1vh;
    background-color: var(--article);
}

.habilidades,
.proyectos,
.contacto,
.me {
    width: 90vw;
}

.proyectos,
.contacto,
.me {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* width: 90vw;  */
}


/* .habilidades>lo {
    width: 70vw;
} */

.me>* {
    margin: 6vh;
}

#habilidades,
#proyectos {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
}

#habilidades fieldset {
    list-style: none;
    width: 85vw;
    padding: 2vw;
    border: 3px solid var(--section_letras);
}

#contactar {
    /**formulario contacto*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 65vw;
    height: 50vh;
    padding: 2vh;
}


/* .contacto {
    height: 60vh;
} */

#contactoS {
    min-height: 67vh;
}


/*animaciones**/

#namehead {
    position: relative;
    animation-name: namehead;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#professionhead {
    position: relative;
    animation-name: professionhead;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#developer {
    position: relative;
    animation-name: developer;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    color: #2c5c9700;
}

#contachead {
    position: relative;
    animation-name: contachead;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    color: #2c5c9700;
}

#descargarcv {
    position: relative;
    animation-name: descargarcv;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 2.5s;
    color: #2c5c9700;
}

@keyframes namehead {
    from {
        left: -200px;
    }
    to {
        left: 0px;
    }
}

@keyframes professionhead {
    from {
        left: +200px;
    }
    to {
        left: 0px;
    }
}

@keyframes developer {
    from {
        color: #2c5c9700;
    }
    to {
        color: #2c5c97;
    }
}

@keyframes contachead {
    from {
        top: +200px;
        color: #2c5c97;
    }
    to {
        top: 0px;
        color: #2c5c97;
    }
}

@keyframes descargarcv {
    from {
        top: +200px;
        color: #2c5c97;
    }
    to {
        top: 0px;
        color: #2c5c97;
    }
}

@media screen and (max-width: 1022px) and (orientation: portrait) {
    @keyframes namehead {
        from {
            top: -200px;
        }
        to {
            top: 0px;
        }
    }
    @keyframes professionhead {
        from {
            top: -200px;
        }
        to {
            top: 0px;
        }
    }
}

@media screen and (max-width: 1022px) and (orientation: landscape) {
    /**Pantallas movil horizontal*/
    html {
        font-size: 2.1vw;
    }
    nav {
        height: 95vh;
        width: 15vw;
        margin: 0.5vw;
        padding: 1vw;
        text-align: center;
        position: -webkit-sticky;
        position: sticky;
        top: 1vh;
        float: left;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }
    /*ponemos todos los section a la derecha para que no se pisen*/
    #habilidadS,
    #proyectoS,
    #contactoS,
    #meS {
        width: 80vw;
        float: right;
    }
    #habilidades fieldset {
        width: 62vw;
        padding: 2vh;
    }
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 100vw;
    }
    #footerS {
        width: 81.5vw;
        float: right;
    }
    #landscape {
        /**usamos este flag para poder colocar el footer bien en pantallas moviles horizontal*/
        width: 15vw;
    }
    .habilidades,
    .proyectos,
    .contacto,
    .me {
        width: 65vw;
    }
    /*termino prueba*/
    section {
        min-height: 100vh;
    }
    /*
    .contenedor {
         float: right; 
    }*/
    /* footer,
    #proyectoS {
        float: right;
    } */
    /**animaciones*/
}

@media screen and (min-width: 1023px) {
    /**moviles y tablets vertical*/
    html {
        font-size: 2.5vh;
    }
    .habilidades,
    .proyectos {
        width: 40vw;
    }
    #habilidades,
    #proyectos {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    #habilidades fieldset {
        width: 30vw;
        padding: 2vw;
    }
    #contactar {
        width: 40vw;
    }
    #footerS {
        flex-direction: row;
    }
}

@media screen and (min-width: 1400px) {
    /**portatiles y pantallas grandes*/
    html {
        font-size: 2.5vh;
    }
    .habilidades,
    .proyectos {
        width: 30vw;
    }
    #contactar {
        width: 30vw;
    }
    .contacto {
        width: 40vw;
    }
    footer {
        flex-direction: row;
    }
    /* #habilidades {
        flex-direction: row;
        align-content: space-between;
        flex-wrap: wrap;
    } */
}